footer {
    width: 100%;
    height: 380px;
    background-color: #232F3E;
    position: absolute;
}
footer > p {
    background-color: #37475A;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 12px 0px 12px 0px;
}
footer > div {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 12px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
footer > div > ul {
    list-style: none;
}
.footer-ul-top-text {
    font-size: 16px!important;
    font-weight: bold!important;
}
footer > div > ul > li {
    padding: 4px 0px 4px 0px;
    max-width: 215px;
}