main {

}
#main-image {
    
}
#main-image-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
#main-image-top > button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-size: 30px;
    position: relative;
    margin-bottom: 335px;
    outline: none;
}
#main-image-top > button:hover {
    cursor: pointer;
}
#main-image-button-left {
    left: 50px;
}
#main-image-button-right {
    right: 50px;
}
#main-image-bottom {
    height: 280px;
    position: relative;
    bottom: 280px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to top, #EAEDED, rgba(255, 255, 255, 0));
}
#main-box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 86vw;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    bottom: 630px;
}
#main-wildfire-box {
    width: 98.8%;
    background-color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#main-wildfire-box > p > a {
    color: rgb(50, 143, 219);
}
#main-user-box {
    background-color: white;
    width: 350px;
    height: 380px;
    padding-top: 15px;
    padding-bottom: 20px;
}
#main-hi-william {
    display: flex;
    font-size: 13px;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
}
#main-hi-william > div {
    margin-left: 18px;
}
.main-top-text {
    font-size: 19px;
    font-weight: bold;
}
#main-user-recommends-box-outer > p {
    font-size: 12px;
    margin: 5px 0px 8px 25px;
    font-weight: bold;
}
#main-user-recommends-box-inner {
    display: flex;
    flex-wrap: wrap;
    width: 314px;
    margin-left: auto;
    margin-right: auto;
}
.main-user-recommends {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 155px;
    height: 130px;
    background-color: rgb(241, 246, 248);
    margin-right: 2px;
    margin-bottom: 2px;
}
.main-user-recommends > p {
    max-width: 140px;
    text-align: center;
}
#main-recent-box {
    background-color: white;
    width: 350px;
    height: 380px;
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main-recent-box > p {
    margin-left: 20px;
}
#main-recent-box > img {
    align-self: center;
    width: 260px;
}
#main-recent-box > i {
    align-self: flex-end;
    width: 190px;
    color: rgb(255, 188, 65);
    font-size: 10px;
    border-radius: 5px 0px 0px 5px;
    background: linear-gradient(to right, rgb(213, 213, 213), rgb(217,217,217,0));
    position: relative;
    top: 23px
}
#main-recent-date {
    margin-left: 0px!important;
    margin-right: 8px;
    align-self: center;
    font-size: 13px;
}
#main-recent-box > a, #main-echo-box > a, #main-free-ship > a {
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 12px;
    color: rgb(50, 143, 219);
}
#main-echo-box {
    background-color: white;
    width: 350px;
    height: 380px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main-echo-box > img {
    width: 310px;
    height: 86%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#main-echo-box > a {
    margin-left: 0px;
}
#main-ship-and-ad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
}
#main-free-ship {
    background-color: white;
    width: 350px;
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main-free-ship > p{
    padding-left: 20px;
    font-size: 14px;
}
#main-free-ship-title {
    font-size: 19px!important;
    font-weight: bold;
}
#main-product-ad {
    background-color: white;
    width: 350px;
    height: 210px;
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main-product-ad > img {
    height: 125px;
    width: 185px;
    align-self: center;
}
#main-product-ad > p {
    font-size: 13px;
    text-align: center;
}
#main-ad-rating-button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
#main-product-ad-rating {
    display: flex;
    align-items: center;
}
#main-product-ad-rating > i {
    color: rgb(231, 153, 8);
    font-size: 14px;
}
#main-product-ad-rating > p {
    font-size: 12px;
    padding-left: 7px;
}
#main-ad-rating-button-box > button {
    padding: 3px 10px 3px 10px;
    border: 1px solid rgb(158, 134, 0);
    color: black;
    background: linear-gradient(to top, rgb(209, 161, 1), rgb(255, 209, 58), rgb(240, 196, 114));
    border-radius: 3px;
}
#main-ad-rating-button-box > button:hover {
    cursor: pointer;
    background: linear-gradient(to top, rgb(209, 161, 1), rgb(228, 182, 31), rgb(248, 190, 83));
}