nav {
    background-color: #131921;
    min-width: 1450px;
    color: white;
}
nav > ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 8px;
}
#nav-hamburger {
    font-size: 22px;
    color: white;
}
#nav-logo {
    width: 100px;
    position: relative;
    right: 20px;
}
#nav-search-form {
    display: flex;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(22, 22, 22);
    border-style: solid;
}
#nav-department {
    height: 36px;
    width: 46px;
    font-size: 12px;
    padding: 4px;
    border: none;
    outline-color: orange;
    border-radius: 4px 0px 0px 4px;
    background-color: rgb(235, 234, 234);
}
#nav-department:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
#nav-search {
    width: 48vw;
    min-width: 260px;
    border: none;
    outline: none;
    padding-left: 10px;
}
#nav-submit {
    border: none;
    width: 45px;
    font-size: 18px;
    background-color: rgb(238, 188, 24);
    border-radius: 0px 4px 4px 0px;
}
#nav-submit:hover {
    cursor: pointer;
    background-color: rgb(219, 173, 23);
}
#nav-flag-box {
    margin-top: 12px;
    position: relative;
    right: 20px;
}
#nav-american-flag {
    width: 20px;
    height: 14px;
}
#nav-flag-box > i {
    font-size: 13px;
}
#nav-accounts-top, #nav-returns-top {
    font-size: 12px;
    position: relative;
    top: 3px;
}
#nav-accounts-bottom, #nav-returns-bottom, #nav-prime {
    font-size: 14px;
    font-weight: bold;
}
#nav-prime {
    margin-top: 16px;
}
#nav-cart {
    display: flex;
    margin-top: 5px;
}
#nav-cart-left {
    font-size: 22px;
}
#nav-cart-right {
    margin-top: 8px;
    margin-left: 5px;
}
